---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article class="bg-beige overflow-x-hidden">
    <section
      class="bg-[url('/src/assets/images/bg_billede.svg')] bg-cover bg-right h-96 bg"
    >
      <h1 class="text-rød font-kulim text-6xl">multimediedesigner</h1>
      <h2 class="text-mørkerød font-kulim text-4xl">Signe Aagaard Lauridsen</h2>

      <img
        class="w-[300px] mx-auto mb-34"
        src="/src/assets/images/portræt1.png"
        alt=""
      />
      <p>
        Jeg brænder for at udfolde mig kreativt og forvandle idéer til visuelle
        fortællinger. Gennem grafisk design og visuel kommunikation elsker jeg
        at skabe designs, der ikke blot fanger øjet, men også formidler et klart
        budskab. Jeg arbejder med både statiske og interaktive medier, hvor jeg
        kombinerer æstetik og funktionalitet for at skabe engagerende
        oplevelser, der vækker følelser og inspirerer. <br />
        <br /> For mig handler design om at fortælle en historie, og jeg er altid
        på jagt efter nye måder at bringe kreativitet og kommunikation sammen.
      </p>
    </section>
    <section class="mt-96">
      <div class="flex items-center w-full">
        <div class="w-28 h-2 bg-rød mr-8 grow"></div>
        <h1 class="text-rød text-4xl mr-10">kompetencer</h1>
      </div>
      <div>
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <p class="text-center">
        Grafisk design & visuel kommunikation <br />Interaktiv design &
        brugeroplevelse <br /> Motion graphics & animation <br
        />Problemløsninger & konceptudvikling
      </p>
    </section>
    <section>
      <div class="flex items-center w-full">
        <h1 class="text-rød text-4xl ml-10">tekniske færdigheder</h1>
        <div class="w-28 h-2 bg-rød grow ml-8"></div>
      </div>
      <ul class="m-14">
        <p class="text-mørkerød font-kulim text-2xl">UI/UX Design:</p>
        <li>
          Erfaring med design af brugergrænseflader og interaktive oplevelser i
          Figma og Illustrator.
        </li>
        <li>
          Erfaring med design af brugergrænseflader og interaktive oplevelser i
          Figma og Illustrator.
        </li>
        <br />
        <p class="text-mørkerød font-kulim text-2xl">Front-end Udvikling:</p>
        <li>
          HTML, CSS og Javascript-færdigheder til at udvikle webapplikationer.
        </li>
        <li>
          Erfaring med CSS frameworks som Tailwind og motion libraries som
          Motion One.
        </li>
        <li>
          Brug af Astro til at bygge hurtige statiske websites og Supabase til
          back-end integration.
        </li>
        <br />
        <p class="text-mørkerød font-kulim text-2xl">Grafisk Design:</p>
        <li>Fotoredigering i Photoshop.</li>
        <li>Layoutdesign i InDesign</li>
        <li>Design og tegne i Illustrator.</li>
        <br />
        <p class="text-mørkerød font-kulim text-2xl">
          Prototyping & Konceptudvikling:
        </p>
        <li>
          Erfaring med at udvikle og teste prototyper i Figma og Visual Studio
          Code, samt at skabe koncepter, der bygger bro mellem design og
          funktionalitet.
        </li>
      </ul>
    </section>
    <section>
      <div class="flex items-center w-full">
        <div class="w-28 h-2 bg-rød mr-8 grow"></div>
        <h1 class="text-rød text-4xl mr-10">tidligere arbejde</h1>
      </div>
      <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
        <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10">
          <div class="inline-block px-3">
            <div
              class="h-auto rounded-lg bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
              <img src="/src/assets/images/slide1.png" alt="" />
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
          <div class="inline-block px-3">
            <div
              class="w-64 h-64 max-w-xs overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
            >
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="flex items-center w-full">
        <h1 class="text-rød text-4xl ml-10">programmer</h1>
        <div class="w-28 h-2 bg-rød grow ml-8"></div>
      </div>
      <div class="grid grid-cols-2 m-14 justify-items-center">
        <ul>
          <li>Illustrator</li>
          <li>Figma</li>
          <li>Photoshop</li>
          <li>Indesign</li>
          <li>Premiere Pro</li>
        </ul>
        <ul>
          <li>VsCode</li>
          <li>- Html</li>
          <li>- Javascript</li>
          <li>- CSS (+Tailwind)</li>
          <li>- Astro</li>
          <li>- Motion One</li>
        </ul>
      </div>
    </section>
    <section>
      <div class="flex items-center w-full">
        <div class="w-28 h-2 bg-rød mr-8 grow"></div>
        <h1 class="text-rød text-4xl mr-10">kontakt mig</h1>
      </div>
      <img
        class="w-[300px] mx-auto"
        src="/src/assets/images/portræt2.png"
        alt=""
      />
      <p class="text-mørkerød m-10">
        Jeg ser frem til muligheden for at få indblik i jeres virksomheds
        arbejdsmiljø gennem et praktikforløb. Det vil give mig en god chance for
        at lære nyt og udvikle mig, samtidig med at jeg kan bidrage med de
        kvalifikationer, jeg allerede besidder. Hvis I ser mine kompetencer som
        en værdi for jeres team, hører jeg meget gerne fra jer.
      </p>
      <div class="flex justify-center py-6">
        <img class="size-1/6" src="/src/assets/images/mail.svg" alt="" />
        <span>signelauridsen01@gmail.com</span>
      </div>
      <div>
        <img src="/src/assets/images/mobil.svg" alt="" />
        <span>+45 22632289</span>
      </div>
    </section>
  </article>
</MainLayout>

<!-- 
<script>
  let currentIndex = 0;
  const slides = document.getElementById("slides");
  const totalSlides = slides.children.length;

  function showNextSlide() {
    currentIndex = (currentIndex + 1) % totalSlides;
    slides.style.transform = `translateX(-${currentIndex * 100}%)`;
  }

  setInterval(showNextSlide, 3000); // Skift hvert 3. sekund
</script>
 -->
